<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/para_table_styles.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo-semfundo.png') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <title> Cabeleleila Leila - Salão de beleza</title>
</head>

<body>
    <header>
        <div class="nav-container">
            <span>
                <img class="logo" src="{{ url_for('static', filename='img/logo-semfundo.png') }}" alt="logo"> 
                <a href="{{ url_for('painel') }}"><button id="btn-voltar">Voltar</button></a>
            </span>
            <h1 id="msg-boas-vindas">Seja bem vinda(o) {{ current_user.login_get()}}!</h1>
            <a href="{{ url_for('logout') }}"><button id="btn-logout">logout</button></a>
        </div>    
    </header>

    <main class="container-main"">
        <h1>Lista de agendamentos</h1>

        <form method="GET" action="/agendamentos">
            <label>Data inicial:</label>
            <input type="date" name="data_inicio">

            <label>Data final:</label>
            <input type="date" name="data_fim">

            <button type="submit">Filtrar</button>
        </form>


        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Data</th>
                    <th>Hora</th>
                    <th>Serviço</th>
                    <th>Status do atendimento</th>
                    <th>Status de confirmação</th>
                </tr>
            </thead>
            <tbody>

                {% for agendamento in agendamentos %}
                <tr>
                    <td>{{ agendamento.id }}</td>
                    <td>{{ agendamento.cliente }}</td>
                    <td>{{ agendamento.data }}</td>
                    <td>{{ agendamento.hora }}</td>
                    <td>{{ agendamento.servico }}</td>
                    <td>{{ agendamento.status }}</td>
                    <td>{{ agendamento.atendimento_confirmado }}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </main>

    <footer>
        <p >Cabeleleila Leila - Salão de Beleza</p>
        <p >Rua Moranguinho, 1234, Bairro Salada de Frutas - Feira de Santana</p>
    </footer>

    

</body>

</html>